
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;;
}

body {
  font-weight: 400;
  overflow-y: hidden;
  position: relative;
  background-color: #141414 !important;
  color: #141414;
}

p {
  color: white !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: white !important;
}

.tagline {
font-weight: 700;
letter-spacing: 0.8px;
/* padding: 8px 10px; */
font-size: 20px;
color: #f6fff8;
margin-bottom: 16px;
margin-top: 30px;
display: inline-block;
}

.btn {
  font-weight: 700;
  color: #f6fff8 !important;
  border: #f6fff8 1px solid !important;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 25px;
}

.me-auto {
  margin-left: auto !important;

}

.navbar-link {
  padding: 0 50px !important; 
}

.navbar-link:hover {
  color: black !important;
}

.App {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
